body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}


/* HEADER */

header {
    background: #D7D5FF;
    height: 560px;
}

.container-header {
    width: 1242px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 137.5px;
}

.content-header div {
    height: 303px;
    width: 389px;
}

.content-header div h1 {
    font-size: 36px;
    margin: 0;
    font-weight: 400;
}

.content-header div p {
    margin: 17.5px 0 45px 0;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    line-height: 32px;
}

.img-header {
    position: relative;
    bottom: 60px
}

.btn-header {
    height: 50px;
    width: 155px;
    background: #6C63FF;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    border: 0;
    transition: .5s;
}

.btn-header:hover {
    color: #6C63FF;
    background: #FFFFFF;
    transition: .5s;
    cursor: pointer;
}




/* MAIN */

main {
    background: #F9F9F9;
}

main div {
    padding-top: 82px;
    max-width: 1242px;
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

.box-content {
    width: 340px;
    height: 423px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: 68px;
}

.box-content img {
    width: 340px;
}

.box-content h3 {
    font-size: 24px;
    font-family: 'Merriweather';
    font-weight: 700;
    line-height: 30px;
    margin: 24px auto 26px 31px;


}

.box-content p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 282px;
    margin: 0 30px 31px;
    font-size: 18px;
    line-height: 30px;
}


/* FOOTER */
footer {
    background: #D7D5FF;
    height: 750px;
}

.formulario {
    text-align: center;
    padding-top: 85px;
}

.formulario span {
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}

.formulario span h3 {
    margin: 0;
}

.formulario form {
    display: flex;
    flex-direction: column;
    width: 470px;
    margin: auto;
    margin-top: 48px;
}



.formulario form input {
    margin-top: 15px;
    padding-left: 15px;
    height: 65px;
    border-radius: 6px;
    background: #FFFFFF;
    border-style: none;
    font-size: 18px;
    font-family: 'Lato';
    color: rgba(110, 114, 117, 0.74);

}

.formulario form textarea {
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 15px;
    height: 150px;
    border-radius: 6px;
    background: #FFFFFF;
    border-style: none;
    font-size: 18px;
    font-family: 'Lato';
    color: rgba(110, 114, 117, 0.74);
    resize: none;
}

.formulario form button {
    width: 471px;
    height: 50px;
    background: #6C63FF;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    margin-top: 30px;
    border-style: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Lato';
    line-height: 24px;
    font-weight: 700;
}

@media(max-width: 500px) {

    body {
        width: 414px;
        margin: auto;
    }

    header {
        height: 800px;
        display: flex;
        margin: 0 auto;
    }

    .container-header {
        max-width: 414px;
        flex-direction: column;
        padding-top: 55px;
    }

    .img-header img {
        width: 350px;
        display: flex;
        margin: 200px auto 0;
    }

    .content-header {
        max-width: 500px;
        margin: auto;
    }

    .content-header div {
        width: 375px;
    }

    .container-header div h1 {
        font-size: 32px;
        width: 340px;
    }

    .container-header div p {
        width: 390px;
    }

    .box-content {
        width: 375px;
        height: 450px;
        margin: 30px auto 0;
    }

    .box-content img {
        width: 375px;
    }

    .box-content p {
        width: 311px;
        line-height: 30px
    }

    .formulario {
        padding-top: 83px;
    }

    .formulario form {
        width: auto;
        padding: 0 20px;
    }

    .formulario form button {
        width: 374px;
    }

    .formulario form input {
        width: 373.21;
    }

    .formulario form textarea {
        width: 373.21;

    }

}